@use 'assets/scss/responsive';
@use 'assets/scss/colors';

/* FONTS  */

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

$montserrat: 'Montserrat', sans-serif;

/* GENERAL */

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  min-height: 100vh;
  font-family: $montserrat;
  font-weight: 500;
  color: colors.$black;

  @include responsive.to-breakpoint(tablet) {
    font-size: 20px;
  }
}

/* RESET */

a {
  color: colors.$black;
  text-decoration: none;

  &:hover {
    color: colors.$blue;
    text-decoration: underline;
  }
}
