@use 'sass:map';

$breakpoints: (
  desktop: 1200px,
  tablet: 768px,
);

@mixin from-breakpoint($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error 'Breakpoint \'#{$breakpoint}\' not found in the breakpoints map.';
  }
}

@mixin to-breakpoint($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $max-width: map.get($breakpoints, $breakpoint) - 1px;

    @media (max-width: $max-width) {
      @content;
    }
  } @else {
    @error 'Breakpoint \'#{$breakpoint}\' not found in the breakpoints map.';
  }
}
